$color-text: #264653;


.input-email{
    margin-top: 8%;
}


.input-email .label-email{
    color: $color-text;
    font-size: 35px;
    margin-right: 100px;
    margin-top: 13px;
}

.input-email .box-email{
    width: 100ch;
}

.input-matricula{
    margin-top: 3%;
}

.input-matricula .label-matricula{
    color: $color-text;
    font-size: 35px;
    margin-top: 12px;
    margin-left: -355px;
}

.input-matricula .box-matricula{
    width: 60ch;
    margin-left: 55px;
}

.container-button{
    margin-top: 18%;
    margin-left: 15%;
    align-items: center;
}

.container-button .button-recuperar-senha{
    width: 300px;
    height: 50px;
    margin-left: 30%;
    background-color: #0CD951;
}

.container-button .button-recuperar-senha:hover{
    width: 300px;
    height: 50px;
    margin-left: 30%;
    background-color: #0CD951;
}

.container-button .button-recuperar-senha .titulo-button{
    color:white;
    font-size: 20px;
    text-transform: capitalize;
}

/*Laptop - 1024px*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    
    .input-email{
        margin-top: 12%;
    }

    .input-email .label-email{
        font-size: 30px;
    }

    .input-email .box-email{
        width: 80ch;
    }

    .input-matricula{
        margin-top: 5%;
    }

    .input-matricula .label-matricula{
        font-size: 30px;
        margin-left: -180px;
    }

    .container-button{
        margin-left: 10%;
    }

}

/*Tablet - 768px*/
@media screen and (min-width: 425px) and (max-width: 768px) {

    .input-email{
        margin-top: 12%;
    }

    .input-email .box-email{
        width: 50ch;
    }

    .input-matricula .box-matricula{
        width: 30ch;
        margin-left: 55px;
    }

    .container-button{
        margin-left: 2%;
    }
}

/*Mobile L - 425px*/
@media screen and (min-width: 375px) and (max-width: 425px) {

    .input-email{
        margin-top: 30%;
    }

    .input-email .label-email{
        font-size: 23px;
        margin-right: 50px;
    }

    .input-email .box-email{
        width: 30ch;
    }

    .input-matricula{
        margin-top: 8%;
    }

    .input-matricula .label-matricula{
        font-size: 23px;
        margin-left: -88px;
    }

    
    .input-matricula .box-matricula{
        width: 20ch;
        margin-left: 25px;
    }

    
    .container-button .button-recuperar-senha{
        width: 220px;
        height: 30px;
        margin-left: 25%;
    }

    .container-button .button-recuperar-senha:hover{
        width: 220px;
        height: 30px;
        margin-left: 25%;
    }

        
    .container-button .button-recuperar-senha .titulo-button{
        font-size: 15px;
    }
}

/*Mobile L - 375px*/
@media screen and (max-width: 375px) {

    .input-email{
        margin-top: 30%;
    }

    .input-email .label-email{
        font-size: 20px;
        margin-right: 22px;
    }

    .input-email .box-email{
        width: 25ch;
    }

    .input-matricula{
        margin-top: 8%;
    }

    .input-matricula .label-matricula{
        font-size: 20px;
        margin-left: -110px;
    }

    
    .input-matricula .box-matricula{
        width: 15ch;
        margin-left: 25px;
    }

        
    .container-button{
        margin-top: 25%;
        align-items: center;
    }
    
    .container-button .button-recuperar-senha{
        width: 220px;
        height: 30px;
        margin-left: 25%;
    }

    .container-button .button-recuperar-senha:hover{
        width: 220px;
        height: 30px;
        margin-left: 25%;
    }

        
    .container-button .button-recuperar-senha .titulo-button{
        font-size: 15px;
    }

    
    .container-button .button-recuperar-senha{
        width: 220px;
        height: 30px;
        margin-left: 10%;
    }

    .container-button .button-recuperar-senha:hover{
        width: 220px;
        height: 30px;
        margin-left: 10%;
    }

        
    .container-button .button-recuperar-senha .titulo-button{
        font-size: 15px;
    }

}

/*Mobile S - 320px*/
@media screen and (max-width: 320px) {

    .input-email{
        margin-top: 30%;
    }

    .input-email .label-email{
        font-size: 20px;
        margin-right: 22px;
    }

    .input-email .box-email{
        width: 20ch;
    }

    .input-matricula{
        margin-top: 8%;
    }

    .input-matricula .label-matricula{
        font-size: 20px;
        margin-left: -70px;
    }

    
    .input-matricula .box-matricula{
        width: 15ch;
        margin-left: 20px;
    }

        
    .container-button{
        margin-top: 35%;
        align-items: center;
    }
    
    .container-button .button-recuperar-senha{
        width: 220px;
        height: 30px;
        margin-left: 2%;
    }

    .container-button .button-recuperar-senha:hover{
        width: 220px;
        height: 30px;
        margin-left: 2%;
    }

        
    .container-button .button-recuperar-senha .titulo-button{
        font-size: 15px;
    }

    
    
}