$text-color: #264653;
$size: 25px;

.text-color {
    color: $text-color;
}

.form {
    margin-left: 20px;
    display: flex;
    width: 98%;
    flex-wrap: wrap;
}

.form .input {
    margin-top: 5px;
    margin: 5px;
    width: 100%;
    flex-basis: 150px;
    flex-grow: 5;
}

.form .label {
    margin: 5px;
    color: $text-color;
}

/*4K-2560px*/
@media screen and (min-width: 1441px) and (max-width: 2559px) {

    .form .input {
        flex-basis: 100px;
    }
}

/*Laptop L - 1440px*/
@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .form .input {
        flex-basis: 100px;
    }
}

/*Laptop - 1024px*/
@media screen and (min-width: 768px) and (max-width: 1023px) {

    .form .input {
        flex-basis: 90px;
    }
}

/*Tablet - 768px*/
@media screen and (min-width: 425px) and (max-width: 767px) {

    .form .input {
        flex-basis: 80px;
    }
}

/*Mobile L - 425px*/
@media screen and (min-width: 375px) and (max-width: 424px) {

    
}

/*Mobile L - 375px*/
@media screen and (max-width: 374px) {

    .form .input {
        flex-basis: 10px;
    }
}

/*Mobile S - 320px*/
@media screen and (max-width: 320px) {

    .form .input {
        flex-basis: 80px;
    }
}
