.header{
  width: 100%;
  height: 114px;

}

.logoCTPS{
  padding-top: 25px;
}

.container-nome-email{
  margin-right: 280px;
}

.container-curso-periodo{
  margin-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}