$text-color: #264653;
$size: 25px;

.containerfather {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.item {
    width: 500px;
    display: flex;
    align-items: center;
    margin-block-end: 10px;
}


.item .labeltext {
    margin: 20px;
    color: $text-color;
    font-size: $size;
    align-items: center;
}

.item1{
    margin-top: 10%;
}
.item1 .input-text{
    width: 100ch;
}


