.input-text-numericos .label-text-numericos {
   margin-left: -340px;
    margin-right: 0px;
}

.input-text-numericos .box-text-numericos{
    width: 50ch;
}

.input-text-numericos .box-text-numericos {
    margin-left: 165px;
}


.input-text .label-text{
    margin-right: 210px;
    margin-left: -340px;
}

.input-text .box-text-senha {
    margin-block-end: 5%;
}


.input-text .confirmarSenha {
    margin-block-end: 2%;
    margin-right: 40px;
    margin-left: -338px;
}

.input-text .box-text-senha{
    width: 50ch;
}

.input-text .box-text-confirmsenha{
    width: 50ch;
}