.input-text  .senha{
    margin-right: 100px;
    margin-left: -470px;
}

.input-text .box-text-senha{
    margin-block-end: 12%;
}

.input-text .confirmarSenha{
    margin-block-end: 2%;
    margin-right: 40px;
    margin-left: -350px;
}
