$background-theme-color: #0f4c5c;
$background-theme-color-seg: #0f4c5c;
$principal-title-color: #ffffff;
$principal-title-color-theme: #ffffff;
$text-color-theme: #ffffff;
/************************/
html,
body {
  height: 100%;
}

a {
  cursor: pointer;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.break-word {
  word-wrap: break-word;
}

.cor-header-footer {
  background-color: $background-theme-color;
}

.background-theme {
  background-color: $background-theme-color;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.flex-center {
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-space-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.full-width {
  width: 100%;
}

.uppercase {
  text-transform: uppercase;
}

@media screen and (max-width: 325px) and (min-width: 0px) {
}
