.matricula-container {
  width: 60%;
}

.materias-container {
  width: 40%;
}

.item-matricula {
  margin-bottom: 40px;
}

.item-matricula h1 {
  width: 30%;
  font-size: 20px;
  text-align: center;
}

.item-matricula p {
  width: 70%;
  font-size: 16px;
  text-align: left;
}
